<div class='home-header'>
	<section id="homepage-intro">
	<div class='row'>
		<div class="small-12 colums">
			 <%= render 'layouts/messages' %>
		</div>
		<div class="small-12 columns">
			<h3>ANATOLIY'S AUTO</h3>
			<div>Welcome to HONDACNY, home of Anatoliy's Auto on the web.</div>
		
		</div>
	</div>
	</section>
</div>

<br>

<div class='row'>

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

	<% @cars.each do |car| %>
		<li>
      <div class='panel left-20'>
			<a href="/cars/<%=car.id%>">
				
      			<%= image_tag car.attached_assets.first.avatar.url(:medium) %>
      </a>
      <h6><%= "#{car.year} #{car.make} #{car.model} #{number_to_currency(car.price, :precision => 0)} #{car.sold? ? 'SOLD' : ''}" %></h6>
      </div>
		</li>
	<% end %>

</ul>
</div>

<div class='row'>
<%= paginate @cars %>
</div>




<!-- <div class='black'>
<div class='row'>

<ul class="" data-orbit>
  <li>
    <img src="https://s3.amazonaws.com/sellcloud.static/background.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li>
    <img src="https://s3.amazonaws.com/sellcloud.static/background.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="https://s3.amazonaws.com/sellcloud.static/background.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
</div>
</div> -->
