<div class='home-header'>
	<section id="homepage-intro">
	<div class='row'>
		<div class="small-12 colums">
			 <%= render 'layouts/messages' %>
		</div>
		<div class="small-12 columns">
			<h3>ANATOLIY'S AUTO</h3>
			<div>Welcome to HONDACNY, home of Anatoliy's Auto on the web.</div>
		
		</div>
	</div>
	</section>
</div>

<div class='home-action'>
 <div class='row'>
      <%= simple_form_for :search, method: :get, :url => root_path do |f| %>
      <div class='large-6 columns'>
        <div class='row collapse'>
          <div class='small-8 columns'>
            <%= f.input :make, :collection => @makes, :default => 1, :label => false %>
          </div>
          <div class='small-4 columns'>
            <button type="submit" class="button postfix">filter make</button>
          </div>
        </div>
      <% end %> 
      </div>
 </div>
     
</div>


<br>

<div class='row'>

<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">

	<% @cars.each do |car| %>
		<li>
      <div class=' left-20'>
			<a href="/cars/<%=car.id%>" data-no-turbolink>
      <div class='image'>
				  
      	<%= image_tag car.attached_assets.first.avatar.url(:medium) %>
        <% if car.soon? %>
        <div class='soon'>
          <span>coming soon</span>
        </div>
        <% end %>
        <h6>
          <span><%= "#{car.year} #{car.make} #{car.model} #{car.sold? ? 'SOLD' : number_to_currency(car.price, :precision => 0)}" %></span>
        </h6>
      </div>
      </a>
      
      </div>
		</li>
	<% end %>

</ul>
</div>

<div class='row'>
<%= paginate @cars %>
</div>




<!-- <div class='black'>
<div class='row'>

<ul class="" data-orbit>
  <li>
    <img src="https://s3.amazonaws.com/sellcloud.static/background.jpg" alt="slide 1" />
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li>
    <img src="https://s3.amazonaws.com/sellcloud.static/background.jpg" alt="slide 2" />
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <img src="https://s3.amazonaws.com/sellcloud.static/background.jpg" alt="slide 3" />
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
</div>
</div> -->
