<div class='row margin-top'>
<div class="small-12 colums">
       <%= render 'layouts/messages' %>
  </div>
  <div class="small-12 columns">
    <h3><%= "#{@car.year} #{@car.make} #{@car.model} #{@car.two_door ? 'coupe' : 'sedan'}" %></h3>
  </div>
  <div class='small-12 columns'>
    <ul data-clearing>
      <% @car.attached_assets.each do |image| %>
        <li><a href="<%= image.avatar.url(:large) %>"> <img data-caption='<%= "#{@car.make} #{@car.model}"  %>' src="<%= image.avatar.url(:small) %>"></a></li>
      <% end %>
    </ul>
  </div>


  <div class='small-12 columns'>
    <h3><%= number_to_currency @car.price %></h3>
  </div>
  <div class='small-12 columns'>
    <h5><strong>Milage:</strong> <%= @car.miles %></h5>
    <h5><strong>VIN:</strong> <%= @car.vin %></h5>
  </div>
  <div class='small-12 columns'>
    <h5><%= @car.warranty %></h5>
  </div>


  <div class='small-12 columns'>
    <b><div id='create-message'></div></b>
  </div>

  <% if @car.sold? %>
  <div class='small-12 columns'><h1>SOLD</h1></div>
  <% else %>
  <div class='small-12 columns'>
    <%= render 'offers/form' %>
  </div>
  <% end %>

  <div class='small-12 columns'>
    <% if current_user && current_user.admin? %>
      <%= link_to 'Edit', edit_car_path(@car), data: {no_turbolink: true} %> |
      <%= link_to 'Invetory', cars_path, data: { no_turbolink: true } %> |
    <% end %>
    <%= link_to 'Back to Cars', root_path, data: {no_turbolink: true} %>
  </div>
</div>


