<li><%= link_to 'About Us', about_path, data: {no_turbolink: true} %></li>
<li><%= link_to 'Directions', "http://maps.google.com/?q=#{ENV['ADDRESS']}" %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete', data: {no_turbolink: true} %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path, data: {no_turbolink: true} %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Account', edit_user_registration_path, data: {no_turbolink: true} %></li>
<% else %>
  <li><%= link_to 'Sign up', new_user_registration_path, data: {no_turbolink: true} %></li>
<% end %>
<% if user_signed_in? and current_user.admin? %>
  <li><%= link_to 'Customers', users_path, data: {no_turbolink: true} %></li>
  <li><%= link_to 'Store Info', edit_store_path, data: { no_turbolink: true} %></li>
  <li><%= link_to 'Inventory', cars_path, data: {no_turbolink: true} %></li>
  <li><%= link_to 'Add Car', new_car_path, data: {no_turbolink: true} %></li>
  <li><%= link_to raw("Powered by Byterover&copy;"), root_path, data: {no_turbolink: true} %></li>
<% end %>
